@hand-color: #000;

svg.a2Clock {
    height: 300px;
    width: 300px;
    .face {
        stroke-width: 2px;
        stroke: #fff; 
    }
    .numbers {
        .main {
            font-size: 40px;
        }
    }
    .hands {
        .hand {
            stroke-width: 1px;
            &.second {
                stroke-width: 2px;
            }
            &.minute, &.hour {
                stroke-width: 3px;
            }
        }
    }
    &[clocktype=default] {
        border: 1px solid black;
        border-radius: 10px;
        .face {
            // fill: red;
        }
        .numbers {
            stroke: #fff;
        }
        .hands {
            .hand {
                fill: #333;
                stroke: #555;
                &.second {
                    stroke: #f55;
                }
                &.minute, &.hour {
                    // stroke-width: 3px;
                }
                &.hour {
                    stroke: red;
                }
            }
        }
    }
    &[clocktype=dark] {
        .face { }
        .numbers { }
        .hands {
            .hand {
                &.second { }
                &.minute, &.hour { }
                &.hour { }
            }
        }
    }
}
