@hand-color: #000;

.a2Clock {
    svg.clock {
        height: 300px;
        width: 300px;
        border: 1px solid black;
        border-radius: 10px;
        circle {
            fill: @hand-color;
        }
        .secondHand {
            stroke: @hand-color;

        }
    }
}
