<style>@import "../css/Clock.css";</style>

<svg class="a2Clock" [attr.clocktype]="clockType" chris="dark" viewBox="0 0 100 100">
    <circle class="face" cx="50" cy="50" r="45"/>
    <g class="numbers">
        <g transform="translate(36.5 25)">
            <text class="main">12</text>
        </g>
        <g transform="translate(80 58)">
            <text class="main">3</text>
        </g>
        <g transform="translate(42.5 92)">
            <text class="main">6</text>
        </g>
        <g transform="translate(8 58)">
            <text class="main">9</text>
        </g>
    </g>
    <g class="hands">
        <!-- Hour hand -->
        <rect class="hour hand" x="47" y="22.5" width="5" height="30" rx="3" ry="3" [attr.transform]="getHour()" />
        <!-- Minute hand -->
        <rect class="minute hand" x="48" y="12.5" width="3" height="40" rx="3" ry="3" [attr.transform]="getMinute()" />
        <!-- Second hand -->
        <line class="second hand" x1="49.5" y1="53.5" x2="49.5" y2="11.5" [attr.transform]="getSeond()" />
    </g>
</svg>
